<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to LLC Tax Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="welcome-container">
    <h1>Welcome to LLC Tax Tracker</h1>
    <p>Your ultimate solution to track and manage tax payments efficiently.</p>
    <div class="welcome-actions">
        <a href="/addentry" class="btn">Add New Tax Record</a>
    </div>
    <div class="welcome-actions">
        <a href="/editentry" class="btn">Edit Or Delete Tax Record</a>
    </div>
    <div class="welcome-actions">
        <a href="/filterpayments" class="btn">Tax Records by Due Date</a>
    </div>
</div>
</body>
</html>
